@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
  min-height: 100vh;
  background-color: #80b692;
  margin: 0;
}

.circleContainer {
  display: flex;
  justify-content: center;
}

.navbar {
  overflow: hidden;
  background-color: rgba(255,255,255, 0.7);
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  
}

.navbar a {
  display: block;
  color: #80b692;
  border: 1px solid #80b692;
  border-radius: 5px;
  text-align: center;
  padding: 14px 26px;
  margin: 0.5rem;
  text-decoration: none;
  font-family: 'Bebas Neue', cursive;
  font-size: 2.2rem;
  float: left;
}

@media only screen and (max-width: 460px) {

  div.circleContainer {
    // align-items: center;
    margin-top: 3rem; 
  }
  
  css-doodle {
    height: 80vh;
  }
  
  .navbar {
    padding: 20px 26px;
  }
  .navbar a {
    display: inline-block;
    font-size: 1.5rem;
    
  }
}